$background:#f1f1f1;
$dark-grey:#3D3D3D;
$middle-grey:#5E5E5E;
$light-grey:#DFDFDD;
$super-light:$background;
$snow:#fff;
$orange:#F17635;
$blue:#4723FF;//#547DAA;
$green:#25BAA5;
$skyblue:#1697FD;

$red:#e74c3c;
$yellow:#f1c40f;
$emerald:#2ecc71;
$another-blue:#3498db;
$amethyst:#9b59b6;
$washed-amethyst:#EEF2FD;
$asphalt:#a6a6a6;
$transparent:transparent;

$colors: 
	"dark-grey" $dark-grey,
	"middle-grey" $middle-grey,
	"light-grey" $light-grey,
	"super-light" $super-light,
	"orange" $orange,
	"blue" $blue,
	"green" $green,
	"skyblue" $skyblue,
	"red" $red,
	"yellow" $yellow,
	"emerald" $emerald,
	"amethyst" $amethyst,
	"nblue" $another-blue,
	"asphalt" $asphalt;

$corporate-hex:#547DAA;
$partner-hex:#F17635;


