/****Grid system key breakpoints****/
$screen-xs-max: 576px; //768px;
$screen-sm-max: 768px; //992px;
$screen-md-max: 992px; //1200px;
$screen-lg-max: 1200px; //1201px;
$screen-lg-min: 1201px;
/*****Flex grid system gap*****/
$flex-grid-gap: 10px;
